.searchBox {
  display: flex;
  background: #f0f4f9;
  height: 100%;
  border-radius: 16px;
  border: 0px;
  overflow: hidden;
}

.searchButton {
  color: white;
  float: left;
  width: 48px;
  background: #f0f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  border-radius: 0px;
  height: 100%;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  line-height: 44px;
  width: 100%;
  padding: 0 6px;
  margin-left: 10px;
}

